
body div {
    margin: auto;
}

.red-box{
    background-color: red;
    width: 1000px;
    height: 720px;
    position: relative;
}

.blue-box{
    background-color: blue;
    width: 1000px;
    height: 600px;

    position: relative;
    top: 60px;
}

.circle{
    background-color: white;
    width: 550px;
    height: 550px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
}

  .inner-circle {
      width: 480px;
      height: 480px;
      border: 6px solid rgb(104, 30, 30);
      border-radius: 10000px;


    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
  }


  .matrix {
      font-size: 0.5px;
    box-shadow: 
    0.1em 0 0 0 blue,
    /* 0 0em 1em 0.1em green, */
    -2.5em 1.5em 0 .5em red,
    2.5em 1.5em 0 .5em red,
    -3em -3em 0 0 red,
    3em -3em 0 0 red,
    -2em -2em 0 0 red,
    2em -2em 0 0 red,
    -3em -1em 0 0 red,
    -2em -1em 0 0 red,
    2em -1em 0 0 red,
    3em -1em 0 0 red,
    -4em 0 0 0 red,
    -3em 0 0 0 red,
    3em 0 0 0 red,
    4em 0 0 0 red,
    -5em 1em 0 0 red,
    -4em 1em 0 0 red,
    4em 1em 0 0 red,
    5em 1em 0 0 red,
    -5em 2em 0 0 red,
    5em 2em 0 0 red,
    -5em 3em 0 0 red,
    -3em 3em 0 0 red,
    3em 3em 0 0 red,
    5em 3em 0 0 red,
    -2em 4em 0 0 red,
    -1em 4em 0 0 red,
    1em 4em 0 0 red,
    2em 4em 0 0 red;
    /* background: red; */
    width: 1em;
    height: 1em;
    overflow: hidden;
    margin: 50px 0 70px 65px;
  }
