html, body, #root{
    background: black;
    padding: 0;
    margin: 0;
    border: 0;
}

#app {
    width: 100%;
    padding: 0.1em 0;
    margin: 0;
}

#button-container {
    background: lightblue;

    width: 65%;
    margin: 0.5em auto;
    padding: 1em;

    border-radius: 0.1em;

    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
}

.button {
    border-color: transparent;

    min-width: 20%;
    max-height: 3em; /*futile attempt to keep button from being too big (because of font-size*/
    height: 4em;
    flex-grow: 1;


    margin: 1% 1%;
    padding: 0;

    border-radius: 0.2em;

    /* Used to size icon */
    font-size: 2.5em;


    transition-duration: 0.1s;
}

.button:focus{
    outline: none;
    box-shadow: 0 0 0.1em 0.1em rgb(238, 140, 200);
    background: rgb(224, 84, 224);
    border-color: transparent;
    transform: scale(1.1);
}

.button:active{
    background: rgb(224, 84, 154);
}

.button:nth-child(2n){
    flex-grow: 7;
    border-bottom-right-radius:  3em;
}

button:nth-child(2n+3){
    border-top-right-radius: 5em;
}

button:nth-child(3n){
    border-top-left-radius: 5em;
}

button:nth-child(3n+1){
    border-bottom-left-radius: 7em;
}

button:nth-last-child(1){
    border-bottom-right-radius: 8em;
    border-top-left-radius: 22em;
    border-bottom-left-radius: 0em;
}



#light-grid{
    background: lightblue;

    width: 40%;
    margin: 1em auto 0 auto;
    padding: 1em; /*MUST equal gap (defined below)*/

    border-radius: 1em;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;   /*MUST equal padding (defined above)*/

    /*I'm not using css variables because lazy*/
}

.light{
    box-sizing: border-box;
    padding-bottom: 100%;
    background: ;

    border-radius: 1em;
}

