* {
    color: white;
    font-family: sans-serif;
    font-weight: 300;
}

body {
    background-color: black;
}

img {
    width: 200px;
}

#feed{
    background-color: lightgrey;

    width: 70%;
    margin: auto;
    padding: 20pt;
}

.blog-post{
    background-color:grey;

    padding: 20pt;
}

.blog-post img{
    float: right;
    margin: 15px;
}

.title{
    font-size: larger;
}

.publish-date{
    color: blueviolet;
}

.blog-content{
    color: white;
}